.patita {
    margin: 1px;
    width: 350px; /* Ancho deseado */
    height: 250px; /* Altura deseada */
}

.prueba {
    margin: auto;
}

.imagen {
    margin: auto;
}

.boton {
    width: 125px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    margin: 20px auto; /* Margen superior e inferior: 20px, margen izquierdo y derecho: auto (centra horizontalmente) */
    text-align: center; /* Centra el contenido dentro del botón */
    background-color: #4d5d8d; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

